* {box-sizing: border-box;}

body {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
}

#zero {
  display: none;
  color: #E17457;
}

header {
  height: 194px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  height: 194px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C5E4E7;
}

.logo {
  margin-top: 50px;
  margin-bottom: 90px;
}

main {
  margin-top: -50px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dollar {
  margin-top: 32px;
}

.dollar1 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.bill {
  display: flex;
  justify-content: space-between;
}

.bill {
  font-size: 16px;
  font-weight: 700px;
  color: #5E7A7D;
  margin-bottom: 6px;
}

.amount {
  background-color: #F3F9FA;
  width: 304px;
  height: 40px;
  border-radius: 4px;
  padding-left: 21px;
  border-color: none;
  border-width: 0px;
  
}

#logo-dollar {
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 50%;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number]::-moz-number-spin-box {
  -moz-appearance: none;
} */

input {
  padding: 17px;
  font-weight: 700;
  font-size: 24px;
  color: #00474B;
  text-align: end;
  
}

.percents {
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.select {
  margin-bottom: -16px;
  margin-top: 32px;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
  color: #5E7A7D;
  text-align: left;

}

.containerp {
  font-family: 'Space Mono', monospace;

  border: none;
  width: 147px;
  height: 48px;
  background-color: #00474B;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
}

.containerp:hover {
  background-color: #26C2AE;
  cursor: pointer;
}
.containerp:active {
  background-color: #002736;
}

.containers {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16.5px;
}

.containerpp {

  width: 147px;
  height: 49px;
  background-color: #F3F9FA;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size:  24px;
  border-color: none;
  border-width: 0px;
  background-color: none;
}
.containerpp:hover {
  border-color: #26C2AE;
}

.amount2 {
  background-color: #F3F9FA;
  width: 304px;
  height: 40px;
  border-radius: 4px;
  padding-left: 21px;
  border-color: none;
  border-width: 0px;
}

#logo-person {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 50%;
}


.lower-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.amount-container {
  width: 327px;
  height: 257px;
  background-color: #00474B;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 37px;
  padding-bottom: 24px;
  flex-direction: column;
  margin-bottom: 32px;

}

.dollar-amount {
  font-size: 32px;
  color: #26C2AE;

}

.tip {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 8px;
}

.person {
  font-size: 13px;
  color: #7f9d9f;
}

.upper {
  margin-bottom: 32px;
  display: flex;
   justify-content: space-between;
}

.lower {
  margin-bottom: 40px;
  display: flex;
   justify-content: space-between;
}
.reset {
  background-color: #26C2AE;
  width: 281px;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset:hover {
  background-color: #9FE8DF;
  cursor: pointer;
}

.reset:active {
  background-color: #7cb0ce;

}

.click-reset {
  color: #00474B;
  font-size: 20px;
}

.main-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



@media screen and (min-width: 1024px) {

  body {
    width: 100%;
    background-color: #C5E4E7;
    overflow: hidden;
  }
  header {
    margin-top: 100px;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 920px;
    height: 481px;
    border-radius: 25px;
    
  }

  .logo {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .dollar {
    width: 379px;
  }
  #logo-dollar{
    width: 379px;
  }
  
  
  .containerp {
    width: 117px;
    height: 48px;
  }

  #number {
    width: 117px;
    height: 48px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }

  .dollar1 {
    width: 379px;
  }

  #logo-person {
    width: 379px;
  }

  .amount-container {
    width: 413px;
    height: 417px;
    margin: 0px;
  }

  .upper {
    margin-bottom: 40px;
  }
  .lower {
    margin-bottom: 180px;
  }

  .reset {
    width: 333px;
    height: 48px;
  }

  .res {
    display: flex;
    align-items: center;
    justify-content: center;
  }



}
